*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6fa;
}

.app {
    display: flex;
    justify-content: space-evenly;
}

.app__main {
    flex: 0.7;
}

.app__aside {
    flex: 0.2;
    margin-top: 20px;
}

.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.app__stats {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .app {
        flex-direction: column;
    }
}